{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}BAB Login{% endblock %}
{% block content %}
    <style>
        #err {
            text-align: center;
            color: red;
        }
    </style>
    <nav class="navbar bg-light">
        <div class="container">
            <a href="/bab" class="navbar-brand">
                <img src="/images/sdf.png" alt="" width="50" height="24">
            </a>
        </div>
    </nav>
    {% if error %}
        <br>
        <div id="err">Inkorrekte Anmeldedaten, versuchen Sie es erneut.</div>
    {% endif %}
    <br><br>
    <div class="container text-center" style="max-width: 300px">
        <form action="{{ path('login') }}" class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Anmelden</h1>
            <label for="username" class="sr-only">Benutzername:</label>
            <input type="text" id="username" name="_username" class="form-control" placeholder="Benutzername" value="{{ last_username }}"/>
            <br>
            <label for="password" class="sr-only">Passwort:</label>
            <input type="password" id="password" class="form-control" placeholder="Passwort" name="_password"/>
            <br>
            <button class="btn btn-success btn-block" type="submit">Anmelden</button>
            <a class="btn btn-warning" href="/registierung" role="button">Registrierung</a>
        </form>
    </div>
{% endblock %}
