{% extends 'bab/layout.html.twig' %}
{% block title %}BAB Account{% endblock %}
{% block page_contents %}
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </head>
    <style>
        #street {
            width: 300px;
        }
        #konto {
            width: 440px;
        }
        #DE {
            width: 20px;
            padding: 6px;
        }
        #city {
            width: 130px;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    {% if username != "n/a" %}
    <div class="container">
    <br>
        <div class="col-2" >
        </div>
        <div class="col" >
            <h3><a>Accountdaten </a></h3>
        </div>
    <br>
    <br>
        <div class="row">

    <div class="col-2" >
        <a>Benutzername:</a>
    </div>
        <div class="col-1" >
            <p>{{ username }}</p>
        </div>
    </div>
    <br>
        <div class="row">

            <div class="col-2" >
                <a>Passwort:</a>
            </div>
            <div class="col-1" >
                <p>******</p>
            </div>
        </div>
        <br>
        <form action="/account-set" accept-charset="utf-8" method="post">
        <div class="row">

            <div class="col-2" >
                <a>Lieferadresse:</a>
            </div>
            <div class="col-3" >
                <input type="text" id="street" name="street" class="form-control"  pattern="^[a-zA-Z0-9].[a-zA-Z0-9]*[a-zA-Z0-9]$" placeholder="Straße (keine Sonderzeichen)" minlength="3" value={{ account.street }}>
            </div>

            <div class="col-3" >
                <input type="number" id="city" name="city" class="form-control" max="99999" min="1000" placeholder="Postleitzahl" value={{ account.city }}>
            </div>

        </div>
            <br>
            <div class="row">
            <div class="col-2" >
                <a>Kontonummer:</a>
            </div>

                <div class="col-1" id="DE" >
                    <a>DE</a>
                </div>
                <div class="col-4" >
                    <input type="number" id="konto" name="konto" class="form-control" placeholder="Kontonummer" min="1" max="7232110011111111111" value={{ account.konto }}>
                </div>
            </div>
            <br>
            <div class="col" >
            </div>
            <div class="col-3" >
                <button class="btn btn-primary btn-block" type="submit">Bestätigen</button>
            </div>

        </form>

    </div>
    {% endif %}

    {% if username == "n/a" %}
        <div class="container">
        <br>
        <div class="col-2" >
        </div>
        <div class="col" >
            <h5><a>Bitte melden Sie sich zuerst an</a></h5>
        </div>
        </div>
    {% endif %}



{% endblock %}