{% extends 'bab/layout.html.twig' %}
{% block title %}Vielen Dank für ihre Bestellung!{% endblock %}
{% block page_contents %}
    <br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-5">
            <h4>Vielen Dank für ihre Bestellung!</h4>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-5">
            <a href="/bab" class="btn btn-warning">Zurück zum Shop</a>
        </div>
    </div>
    <br>
{% endblock %}