{% extends 'bab/layout.html.twig' %}
{% block title %}BAB Home{% endblock %}
{% block page_contents %}
    <div class="container" style="text-align:center">
    <br>
    <div class="row align-items-start">
        <div class="col" >
            <h3><a href="/herren"class="link-dark"> Herren</a></h3>
        </div>
        <div class="col" >
            <h3><a href="/damen" class="link-dark"> Damen</a></h3>
        </div>
        <div class="col" >
            <h3><a href="/kinder"class="link-dark"> Kinder</a></h3>
        </div>
    </div>
    <br>
    <div class="big" style="text-align:center">
        <div class="row align-items-start">
            <div class="col">
                <img src="/images/kleidungHaupt.jpg" class="card-img-top" alt="..." height="480">
            </div>

        </div>
    <br>
    <h1>Passende Kleidung gesucht?</h1>
    <br>
            <div class="row" style="text-align:center">

                {% for product in products %}
                    <div class="col-lg-3 d-flex align-items-stretch">
                        <div class="card" style="width: 18rem;">
                            <img src="/images/{{ product.picture }}" class="card-img-top" height="275">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price }}€</p>
                                <a href="/warenkorb/{{ product.id }}" class="btn btn-success">In den Warenkorb</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
{% endblock %}