{% extends 'bab/hr_layout.html.twig' %}
{% block title %}Blog Index{% endblock %}
{% block page_contents %}


    <div class="row justify-content-start">
        <div class="col-2">
            <nav class="nav flex-column">
                <a class="nav-link" style="color: black" href="/hr_ac">Accessoires</a>
                <a class="nav-link" href="/hr_ob">Oberteile</a>
                <a class="nav-link" style="color: black"  href="/hr_ho">Hose</a>
                <a class="nav-link" style="color: black"  href="/hr_sc">Schuhe</a>

            </nav>
        </div>

        {% for article in articles %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/{{article.picture}}" class="card-img-top" height="275">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.name }}</h5>
                        <p class="card-text">{{ article.price }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}