{% extends 'bab/layout.html.twig' %}
{% block title %}BAB Warenkorb{% endblock %}
{% block page_contents %}
    <br><br>
        <center><h4 class="center">Das Produkt wurde in den Warenkorb gelegt</h4></center>
    <br>

    <div class="row" style="text-align:center">
        <div class="col-5">
        </div>
        <div class="col-4">
            <div class="card" style="width: 19rem;">
                <img src="/images/{{ products["0"].picture }}" class="card-img-top" height="275">
                <div class="card-body">
                    <h5 class="card-title">{{ products["0"].name }}</h5>
                    <p class="card-text">{{ products["0"].price}}€</p>

                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3">
            <a href="javascript:history.back()" class="btn btn-warning" >Zurück zum Shop</a>
            <a href="/warenkorb" class="btn btn-success">Zum Warenkorb</a>
        </div>

        </div>
    </div>

{% endblock %}