{% extends 'base.html.twig' %}
{% block title %}BAB Kindermode{% endblock %}
{% block content %}
    <nav class="navbar bg-light">
        <div class="container">
            <a href="/bab" class="navbar-brand">
                <img src="/images/sdf.png" alt="" width="50" height="24">
            </a>
        </div>
    </nav>
    <ul class="nav justify-content-end">
        {% if username == "n/a" %}
            <li class="nav-item">
                <a href="/login" class="btn" id="login"><i class="fa fa-sign-in"></i> Login</a>
            </li>
        {%  endif %}
        {% if username != "n/a" %}
            <li class="nav-item">
                <a href="/logout" class="btn" id="logout"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
            <li class="nav-item">
                <a href="/account" class="btn" id="account"><i class="fa fa-user"></i> Account</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="/warenkorb" class="btn" id="cart"><i class="fa fa-shopping-cart"></i> Warenkorb</a>
        </li>
    </ul>
    <div class="container" style="text-align:center">
    <br>
    <div class="row align-items-start">
        <div class="col" >
            <h3><a href="/herren"class="link-dark"> Herren</a></h3>
        </div>
        <div class="col" >
            <h3><a href="/damen" class="link-dark"> Damen</a></h3>
        </div>
        <div class="col" >
            <h3><a href="/kinder" class="link-blue"> Kinder</a></h3>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-start">
        <div class="col-2">
            <nav class="nav flex-column">
                <a class="nav-link" style="color: black" href="/kinder/accessoires">Accessoires</a>
                <a class="nav-link" style="color: black" href="/kinder/oberteile" >Oberteile</a>
                <a class="nav-link" style="color: black"  href="/kinder/hosen">Hosen</a>
                <a class="nav-link" style="color: black" href="/kinder/schuhe" >Schuhe</a>

            </nav>
        </div>

        {% for i in 0..articles|length-1 %}
            {% if i%3 == 0 and i != 0%}
                <div class="col-2">
                </div>
            {% endif %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/{{articles[i].picture}}" class="card-img-top" height="275">
                    <div class="card-body">
                        <h5 class="card-title">{{ articles[i].name }}</h5>
                        <p class="card-text">{{ articles[i].price }}€</p>
                        <a href="/warenkorb/{{ articles[i].id }}" class="btn btn-success">In den Warenkorb</a>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
    {% block page_contents %}
    {% endblock %}
{% endblock %}